.App {
  max-width: 860px;
  margin: 40px auto;
  height: 100svh;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  color:white;
  -webkit-text-stroke: 1px black;
}	

.container {

  display: flex;
  align-items: center;
  justify-content: space-between;
}